@import url('https"//fonts.googleapics.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: #161c28;
    --second-bg-color: #236d6c;
    --text-color: #fff;
    --main-color: rgb(255, 123, 0);
}
span{
    color:  rgb(241, 30, 65);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #F6F5F1;
    color: #333;
}


section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header styles */
header {
    background-color: #F6F5F1;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-links, #contact-links {
    display: flex;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: 'Italiana', serif;
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(241, 30, 65);
}

#logo a {
    text-decoration: none;
    color: #333;
    font-size: 4em;
    font-family: 'Redressed', cursive;
}
/* Add these styles to your existing CSS file */

/* Home Section styles */
.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #F6F5F1;
}

.content-left {
    flex: 1;
}

.image-right {
    flex: 1;
    text-align: right;
}

.image-right img {
    max-width: 100%;
    height: 400px;
    margin-right: 80px;
    border-radius: 8px; /* Optional: Add border-radius for a rounded image */
}


* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #left-links, #contact-links {
        margin-top: 10px;
    }

    nav a {
        margin: 0 10px 10px 0;
    }
}