@import url('https"//fonts.googleapics.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: #161c28;
    --second-bg-color: #236d6c;
    --text-color: #fff;
    --main-color: rgb(255, 123, 0);
}
span{
    color:  rgb(241, 30, 65);
    font-family: 'Italiana', serif;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #F6F5F1;
    color: #333;
}


section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header styles */
header {
    background-color: #F6F5F1;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    z-index: 100;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-links, #contact-links {
    display: flex;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: 'Italiana', serif;
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(241, 30, 65);
}

#logo a {
    text-decoration: none;
    color: #333;
    font-size: 4em;
    font-family: 'Redressed', cursive;
}
/* Add these styles to your existing CSS file */

/* Home Section styles */
.home {
    width: 100%;
    margin: 0;
    padding: 0;

}
.content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content{
    margin-left: 8%;
    margin-top: 13%;
    font-family: 'Italiana',serif;
    font-size: 30px;
    
}

.image-container {
    width: 501px;
    height: 545px;
    position: absolute;
    bottom: 0;
    right: 100px;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.buttons {
    display: flex;
    gap: 100px;
    margin-top: 10px;/* Adjust the spacing between buttons */
}

.hire-me-button,
.portfolio-button {
    /* Add styling for the buttons */
    padding: 10px 15px;
    background-color: #F53456; /* Example color, you can change it */
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 0 10px 6px -6px #000000;
    transition: background-color 0.3s ease;
}

.hire-me-button:hover,
.portfolio-button:hover{
    background-color: pink;
}



/* Media Query for Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #left-links, #contact-links {
        margin-top: 10px;
    }

    nav a {
        margin: 0 10px 10px 0;
    }
}